<section>
    <section class="flex flex-col">
        <h3>Wanna add something leave a comment.</h3>
        <form class="flex justify-center flex-col" action="">
            <div>
                <label for="comment-input"></label>
                <textarea class="textarea" id="comment-input" name="newComment" rows="4" type="text"></textarea>

            </div>
            <div>
                <input class="btn" type="submit">

            </div>
        </form>

    </section>
    <section>
        <h4>comments section</h4>
        <ol>
            <li>
                <div class="card w-96 bg-base-100 shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title">Comment title</h2>
                        <p>COMMENT TEXT</p>
                        <div class=" justify-end">
                            <section class="border-double border-2 border-green-500">
                                <img src="" alt="">
                                <span>username of comment</span>
                            </section>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </section>
</section>