<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<h1>Login</h1>
<div class="container login-container">
    <div class="card  light-blue lighten-5">
        <div class="card-content">
            <form action="/login" method="post" >
                <div class="input-field">

                    <label for="email">email</label>
                    <input type="text" name="email" id="email">
                </div>

                <div class="input-field">
                    <label for="password">password</label>
                    <input type="password" name="password" id="password">

                </div>

                <button class="btn green">Login</button>
            </form>

        </div>
    </div>
    <section class="">
        
            <a class= "btn waves-effect waves-light " href="/signup">
                <i class="material-icons left">signup Here</i>
        
            </a>
        
        
        
    </section>
</div>