<div>
    <!-- if username === createdby || user.role === admin -->
    <form action='/repair/delete/<%= repair._id %>'>
        <details>
            <summary class="btn"> Delete Report</summary>
            <button class="btn red">confirm delete</button>
            
        </details>
       
       </form>
</div>		