<div>

    <details>
        <summary class="btn text-black bg-blue-300 hover:bg-green-600">Edit Report</summary>
        <a href='/repair/edit/<%= repair._id %>' class="btn text-black bg-blue-600 hover:bg-orange-400">confirm EDIT</a>
    </details>




</div>