<div>
    <details class="mb-4">
        <summary class="btn text-black bg-blue-300"> Delete Report</summary>
        <a href='/repair/delete/<%= repair._id %>' class="btn text-black bg-red-600 ">confirm delete</a>
    </details>
    <details>
        <summary class="btn text-black bg-blue-300">Edit Report</summary>
        <a href='/repair/edit/<%= repair._id %>' class="btn text-black">confirm EDIT</a>
    </details>




</div>