<div>
    <!-- if username === createdby || user.role === admin -->
    <form action='/repair/delete/<%= repair._id %>'>
        <details class="mb-4">
            <summary class="btn text-black bg-blue-300"> Delete Report</summary>
            <button class="btn text-black bg-red-600 ">confirm delete</button>
        </details>
        <details>
            <summary class="btn text-black bg-blue-300">Edit Report</summary>
            <button class="btn text-black">confirm EDIT</button>
        </details>

    </form>
</div>