<section >

   
    <ul class="menu">
       <li>
           <a class=" clickable button--mobile  rounded" href="/">
               Search
            </a>
        </li>
        <li>
            <a class=" clickable button--mobile  rounded" href="/repairform">
               Repair
             </a>
        </li>
    </ul>

</section>