<section class="">
    <form class="flex-center" action="/repair/search" method="get">
        <input id="search" name="searchPhrase" type="text" placeholder="Search" class=" search_input input input-bordered input-error w-full max-w-xs" />
    </form>
</section>
