<section class="">
    <form action="/repair/search" method="get">
        
            <input id="search" name="searchPhrase" type="text" placeholder="Type here" class=" search_input input input-bordered input-error w-full max-w-xs" />
       
    </form>
</section>
