<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Repair Search</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<!-- search bar -->
		<header>
			<section id="search">
				<form action="">
					<input type="text" placeholder="Search for Fault code / issue">
					<button type="button"><img src="" alt="search-icon"></button>
					<details>
						<summary>
							Engine Models
						</summary>
						<label for="cat">Caterpillar
							<input type="radio" name="model" value="cat" id="cat" >
						</label>

						<label for="cummins">Cummins
							<input type="radio" name="model" value="cummins" id="cummins" >
						</label>
							
						<label for="detroit">Detroit
							<input type="radio" name="model" value="detroit" id="detroit" >
						</label>

					</details>
				</form>
			</section>
		
		</header>


		<!-- results -->
		<section id="frame" >
			<h2>Latest Documented Repairs</h2>

			
			<section class="entry clickable cummins-fix">
				<div class="desc-cont">
					<p>no 5 volt </p>
				</div><!--
				
				
				  --><div class="desc-img">
					<img src="https://placekitten.com/g/200/300" alt="fix-img">
				</div>
			</section>



		</section>


		<!-- FILE UPLOAD TEST -->
		<section>
            <form id="repair-form" action="/" method="post" encType="multipart/form-data">
                <label for="rep-title" class="rep-sect">Enter Title Here
                    <input id="rep-title" type="text" placeholder="Title"> 
                </label>

                <!-- pick model of engine -->
                
                <section id="rep-model">
                    <div class="clickable model caterpillar" >
                        <label  for="cat">Caterpillar</label>
                        <input  id="cat" name="model" valu type="radio">
                    </div>
                   
                    <div class="clickable">
                        <label for="detroit">Detroit</label>
                        <input id="detroit" name="model" type="radio">
                    </div>
                    
                    <div class="clickable">
                        <label for="cummins">Cummins</label>
                        <input id="cummins" name="model"  type="radio">
                    </div>
                   
                </section>
               
                <!-- attach picture and text -->
                <section class="rep-sect">
                    <section>
                        <!-- picture preview -->
                        <img src="" alt="">
                    </section>

                    <section>
                        <!-- upload picture -->
                        <input id="img1" class="rep-img" type="file" name="picture1" accept="image/*" >
						<button type="submit">send it</button>
                    </section>
                   
                </section>
               
                <textarea name="" id="" cols="30" rows="10"></textarea>
                
				

            </form>
           
        </section>

		<!-- pick model to search -->
		<footer>
			<nav>
<!-- 				
				<section id="" class="model clickable caterpillar">
					<div>
						<span>Caterpillar</span>
					</div>
					
				</section>
		 -->
		
			
				<!-- <section id="" class="model clickable detroit">
					 <img src="" alt="detroit">
					<div>
						<span>Detroit</span>
					</div>
					
				</section> -->
			
		
<!-- 			
				<section id="" class="model clickable cummins">
					<div>
						<span>Cummins</span>
					</div>
					
				</section>
		 -->
				
				
					
		</nav>
		
		
			<section id="add" class="hidden-menu">
				<details >
					<summary> MENU</summary> 
				<a class="button clickable" href="repair.html">
					<span>Doc Repair <br> +</span>
				</a>
				<a class="button clickable" href="ecm-logs.html">
					<span> ECM LOG <br> +</span>
				</a>
				<!-- <a class="button clickable" href="#">
					<span> Repair <br> Search</span>
				</a> -->
			</details>
			
			</section>
		
		
	
		</footer>
		
	

		<script type="text/javascript" src="main.js"></script>
	</body>
</html>
