<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("./partials/head"); -%>
</head>

<body class="search-page  blue-grey darken-4">
	<!-- search bar -->
	<header>
		<nav>
			<%- include("./partials/menu"); -%>
		</nav>
	</header>

	<main class="">
		<!-- results -->

		<h3>search.ejs</h3>
		<section class=" results small-padding entry-list">



		</section>

	</main>
	<footer>
		<!--menu button  -->
	</footer>

	<%- include("./partials/scripts"); -%>
</body>

</html>