<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); -%>
</head>

<body>
    <section>
        <%- include("./partials/menu"); -%>

    </section>
    <section>
        <h2>
            <%=title%>
        </h2>
        <ul>
            <li><a href="#">change password</a></li>
            <li><a href="#">change email</a></li>

        </ul>
    </section>


    <%- include("./partials/scripts"); -%>
</body>

</html>