<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>ECM Log</title>
</head>
<body>

    <header>
        <h2>ECM logs</h2>
			<section id="search">
				<form action="">
					<input type="text" placeholder="Search for ECM Serial">
					<button type="button"><img src="" alt="search-icon"></button>
				</form>
			</section>
    
    </header>
    <section class="frame">

        <section>

        </section>

    </section>




    <footer>
        <nav>
            <section id="menu" class="hidden-menu">
                <details >
                    <summary> MENU</summary> 
                <a class="button clickable" href="/">
                    <span>Search</span>
                </a>
                <a class="button clickable" href="/ecm-logs">
                    <span> ECM LOG <br> +</span>
                </a>
                <!-- <a class="button clickable" href="#">
                    <span> Repair <br> Search</span>
                </a> -->
            </details>
            
            </section>
            
            
                
        </nav>
    
    </footer>
  
    
</body>
</html>