<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); -%>
  <%# <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circuit Chaser</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/2.31.0/full.min.css"
      integrity="sha512-C61VDg3tFL7Qm+u1GpOOxBwblXrPRyxaAcnKBLM21a+kjYduTZiPJ9fBCjDfCi1ai8/hKpbHDTKNI+ihb2lOWA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />


    <!-- <link rel="stylesheet" href="/home/assets/css/main.css"> -->

    </head>

    %>

    <body>


      <div class="relative overflow-hidden">
        <div class="mx-auto max-w-7xl">
          <div class="relative bg-white z-10  pb-8 sm:pb-16 md:pb-20 lg:w-full lg:max-w-2xl lg:pb-28 xl:pb-32">
            <!-- <svg class="absolute inset-y-0 right-0 hidden h-full w-48 translate-x-1/2 transform text-white lg:block" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true"> -->
            <!-- <polygon points="50,0 100,0 50,100 0,100" /> -->
            <!-- </svg> -->

            <div>
              <div class="relative px-4  pt-6 sm:px-6 lg:px-8">
                <!-- nav -->
                <nav class="text-base-100 bg-white relative flex items-center justify-between sm:h-10 lg:justify-start"
                  aria-label="Global">
                  <div class="navbar bg-content ">
                    <!-- <div><h1 class="font-bold">Circuit Chaser</h1></div> -->
                    <div class="navbar-start">
                      <div data-test="mobile-nav" class="dropdown">
                        <label tabindex="0" class="btn btn-ghost lg:hidden">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h8m-8 6h16" />
                          </svg>
                        </label>
                        <ul data-test="mobile-menu" tabindex="0"
                          class="menu menu-compact dropdown-content mt-3 p-2 shadow  rounded-box w-52">
                          <li><a href="/login">Log In</a></li>
                          <li><a href="/dashboard">Dashboard</a></li>
                          <li><a href="/repair">Latest Repairs</a></li>
                          <li><a href="/repairform">Create Repair</a></li>
                          <li><a href="/repair/searchpage">Search</a></li>
                          <li><a class="btn bg-accent" href="/signup">Sign up</a></li>
                        </ul>
                      </div>

                    </div>
                    <div class="navbar-center hidden md:visible lg:flex ">
                      <ul data-test="full-menu" class="menu menu-horizontal p-0">
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/repair">Latest Repairs</a></li>
                        <li><a href="/repairform">Create Repair</a></li>
                        <li><a href="/repair/searchpage">Search</a></li>
                        <li><a class="btn bg-accent" href="/signup">Sign up</a></li>

                      </ul>
                    </div>
                    <div class="navbar-end">
                      <!-- <a class="btn">Get started</a> -->
                    </div>
                  </div>
                </nav>
                <!-- nav -->
              </div>


              <main class="mx-auto mt-10 max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                  <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
                    <span class="block xl:inline">Circuit Chaser</span>
                    <span class="block text-accent xl:inline">Data to Power Back Up </span>
                  </h1>
                  <p
                    class="mt-3 text-base text-gray-500 sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0">

                  </p>
                  <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                    <div class="rounded-md shadow">
                      <a href="/signup"
                        class="flex w-full items-center justify-center rounded-md border border-transparent  bg-accent px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg">Get
                        started</a>
                    </div>
                  </div>
                </div>
              </main>
            </div>
          </div>
          <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img loading="lazy" src="/home/assets/css/images/Printed-circuit-board-pana.svg" alt="circuit repair" />
          </div>
        </div>
        <!-- second section -->
        <div class="hero min-h-screen bg-base-200">
          <div class="hero-content flex-col lg:flex-row-reverse">
            <div>
              <h2 class="text-5xl font-bold">Collaborate</h2>
              <p>Find obsolete parts or new compatible ones for your hardware application.<br />
            </div>
            <img loading="lazy" src="/home/assets/css/images/Live collaboration-rafiki.svg"
              class="max-w-sm rounded-lg shadow-2xl" />
          </div>
        </div>

        <div class="hero min-h-screen bg-base-200">
          <div class="hero-content flex-col lg:flex-row">
            <div>
              <h2 class="text-5xl font-bold">Document repairs </h2>
              <p class="py-6">Circuit tracing is not fast or easy so back up your progress in an easy to search database
                built for you. </p>
            </div>
            <img loading="lazy" src="/home/assets/css/images/Firmware-amico.svg"
              class="max-w-sm rounded-lg shadow-2xl" />
          </div>
        </div>

        <footer>
          <footer class="footer p-10 bg-base-200 text-base-content">
            <div>
              <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                clip-rule="evenodd" class="fill-current">
                <path
                  d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z">
                </path>
              </svg>
              <p>ACME Industries Ltd.<br>Providing reliable tech since 1992</p>
            </div>
            <div>
              <span class="footer-title">Services</span>
              <a class="link link-hover">Branding</a>
              <a class="link link-hover">Design</a>
              <a class="link link-hover">Marketing</a>
              <a class="link link-hover">Advertisement</a>
            </div>
            <div>
              <span class="footer-title">Company</span>
              <a class="link link-hover">About us</a>
              <a class="link link-hover">Contact</a>
              <a class="link link-hover">Jobs</a>
              <a class="link link-hover">Press kit</a>
            </div>
            <div>
              <span class="footer-title">Legal</span>
              <a class="link link-hover">Terms of use</a>
              <a class="link link-hover">Privacy policy</a>
              <a class="link link-hover">Cookie policy</a>
            </div>
          </footer>
        </footer>
    </body>

</html>