<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Circuit Fix</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://kit.fontawesome.com/2d20c3d5a8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/home/assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->

				<header id="header" class="alt">
						<div>
							<% if (locals.user) { %>
								user.username
							<% } %>
						</div>

						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>

											
                                            <li><a href="/signup">Sign up</a></li>

                                            <li><a href="/dashboard">Dashboard</a></li>
											<li><a href="/repair">Latest Repairs</a></li>
											<li><a href="/repairform">Create Repair</a></li>
											<li><a href="/repair/searchpage">Search</a></li>
											<li><a href="/login">Log In</a></li>

											<!-- <li><a href="/repair/testPost">test post</a></li> -->

										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Circuit Chaser</h2>
							<p>Catalog Of Repairs to the devices you love<br />
							
							<ul class="actions special">
								<li><a href="#" class="button primary">SIGNUP</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Keep track of repairs<br />
								you have made</h2>
								<p>Once you have fixed it you can look it up again without having to rework the problem,<br />
								continue the work you without backtracking</p>
							</header>
							<ul class="icons major">
								<li><i class="  major icon style1 fa-solid fa-microchip"></i></li>
								<li><i class="major icon style1 fa-solid fa-toolbox"></i></li>
								<li><i class="major icon style1 fa-solid fa-screwdriver-wrench"></i></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Your repairs organised<br />
								 </h2>
								 <p>All text can be searched to find that crucial piece of information</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Groups for collaboration<br />
								</h2>
								<p>Help others or ask for help from other techs</p>
							</div>
						</section>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Simple to use and mobile friendly</h2>
								<p>catalog your repair quickly before losing track of your progress</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit primary">Sign up</a></li>
								<!-- <li><a href="#" class="button fit">Learn More</a></li> -->
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<!-- <ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul> -->
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>
				
			<!-- HERO -->
			
			<!-- HERO -->
		<!-- Scripts -->
			<script src="/home/assets/js/jquery.min.js"></script>
			<!-- <script src="/home/assets/js/jquery.scrollex.min.js"></script> -->
			<script src="/home/assets/js/jquery.scrolly.min.js"></script>
			<script src="/home/assets/js/browser.min.js"></script>
			<script src="/home/assets/js/breakpoints.min.js"></script>
			<!-- <script src="/home/assets/js/util.js"></script> -->
			<script src="/home/assets/js/main.js"></script>

	</body>
</html>