<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Repair Search</title>
		<script src="https://kit.fontawesome.com/2d20c3d5a8.js" crossorigin="anonymous"></script>

		<!-- external CSS link -->
		<link rel="stylesheet" href="./stylesheets/normalize.css">
		<link rel="stylesheet" href="./stylesheets/style.css">
		<link rel="stylesheet" href="./stylesheets/index.css">
	</head>
	<body>
		<!-- search bar -->
		<header>
			<section id="search">
				<form action="">
					<input type="text" placeholder="Search for Fault code / issue">
					<button type="button">Search</button>
					<details>
						<summary>
							Engine Models
						</summary>
						<label for="cat">Caterpillar
							<input type="radio" name="model" value="cat" id="cat" >
						</label>

						<label for="cummins">Cummins
							<input type="radio" name="model" value="cummins" id="cummins" >
						</label>
							
						<label for="detroit">Detroit
							<input type="radio" name="model" value="detroit" id="detroit" >
						</label>

					</details>
				</form>
			</section>
		
		</header>


		<!-- results -->
		<section id="results-frame" >
			<h2>Latest Documented Repairs</h2>

			
			<section class="entry bounce-anim animated cummins-fix">
				<div class="desc-cont">
					<p>no 5 volt </p>
				</div><!--
				
				
				  --><div class="desc-img">
					<img src="https://placekitten.com/g/200/300" alt="fix-img">
				</div>
			</section>

			<section class="entry bounce-anim animated cummins-fix">
				<div class="desc-cont">
					<p>no 5 volt </p>
				</div><!--
				
				
				  --><div class="desc-img">
					<img src="https://placekitten.com/g/200/300" alt="fix-img">
				</div>
			</section>

			<section class="entry bounce-anim animated cummins-fix">
				<div class="desc-cont">
					<p>no 5 volt </p>
				</div><!--
				
				
				  --><div class="desc-img">
					<img src="https://placekitten.com/g/200/300" alt="fix-img">
				</div>
			</section>

			<section class="entry bounce-anim animated cummins-fix">
				<div class="desc-cont">
					<p>no 5 volt </p>
				</div><!--
				
				
				  --><div class="desc-img">
					<img src="https://placekitten.com/g/200/300" alt="fix-img">
				</div>
			</section>



		</section>

		<!-- pick model to search -->
		<footer>			
			<nav>
				<section id="menu" class="hidden-menu">
					<details >
						<summary> MENU</summary> 
					<a class="button clickable" href="/repairform">
						<span>Doc Repair <br> +</span>
					</a>
					<a class="button clickable" href="/ecm-logs">
						<span> ECM LOG <br> +</span>
					</a>
					<!-- <a class="button clickable" href="#">
						<span> Repair <br> Search</span>
					</a> -->
				</details>
				
				</section>
			</nav>
		</footer>
		
	

		<script type="text/javascript" src="./js/index.js"></script>
	</body>
</html>
