



<!DOCTYPE html>
<html class="" lang="en">
	<head>
		<%- include("./partials/head.ejs"); -%>
	</head>
	<body class="search-page center-block">
		<!-- search bar -->
		<header>
			<nav>
				<%- include("./partials/mobile-menu.ejs"); -%>
				
			</nav>
			
		</header>
		
		
			<!-- results -->
		<section class="latest card results " >

			<%- include("./partials/repairs-list"); -%>
		

		</section>
		
				
			

		<footer>
			<!--menu button  -->
			

		</footer>
	
	
	</body>
</html>
