<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("./partials/head"); -%>

</head>
<body class=" ">
    <header>
        <nav>
           
            <%- include("./partials/mobile-menu"); -%>
       
        </nav>
    </header>
		<section>
            <!-- loading screen -->
            <section class="status-icons">
                <!-- <div class="loading"></div> -->
                <div id="" class="loading-text">Loading</div>
            </section>
       

            <!-- on change of form state mostly from image upload preview the image -->
            <form id="repair-form" class=" repair-form" action="#" encType="multipart/form-data" >
                <section class="">

                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Title: </span>
                        </label>
                        <input id="title" name="title" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" required />
                        <label class="label">
                        </label>
                    </div>
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Search Tags: </span>
                        </label>
                        <input id="search-tags" name="search-tags" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                        <label class="label">
                        </label>
                    </div>
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                          <span class="label-text">Search Tags: </span>
                        </label>
                        <input id="board-type"  name="boardtype" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                        <label class="label">
                        </label>
                    </div>
                </section>
               

                <!-- pick model of engine -->
                    <section class=" blue-grey darken-1">

                        <fieldset class="engine-models">
                            <legend>Choose Engine</legend>
                            <span>
                                <label for="cat">
                                    <div class="badge badge-accent">
                                        <input id="cat" name="model" value="cat" type="radio" class=" model radio" />
                                        Caterpillar

                                    </div>
                                </label>
                            </span>
                            <span>
                                <label for="detroit">
                                    <div class="badge badge-accent">
                                        <input id="detroit" name="model" value="detroit" type="radio" class=" model radio" />
                                        <!-- <input class="model" id="detroit" name="model" value="detroit" type="radio"> -->
                                        Detroit

                                    </div>
                                </label>
                              </span>

                              <span>
                                <label for="cummins">
                                    <div class="badge badge-accent">
                                        <input id="cummins" name="model" value="cummins"  type="radio" class=" model radio" />
                                        <span>Cummins</span>
                                    </div>
                                </label>
                              </span>

                              <span>
                                <label for="other">
                                    <div class="badge badge-accent">
                                        <input id="other" checked name="model" value="other"  type="radio" class=" model radio" />
                                        <span>Other</span>
                                    </div>
                                </label>
                              </span>
                        </fieldset>
                    </section>
                     
                    
                   <section class="card " >

                       <ol id="instructions" data-currentProcId="1">
                        
                           
                           <!-- repair instructions -->
                           <li class=" procedure small-padding" data-procedureId="1">
                              
                                   <section class=" card grey procedure--details small-padding">
                                       <h3>Repair Procedure</h3>
                           
                                       
                                       <!-- images uploaded -->
                                       <fieldset class=" procedure--images-list ">
                                           <legend>Images
                                               <!-- add another image button -->
                                               
                                           </legend>
       
                                            <ol class="uploads" data-totalfiles="0" data-uploadId="0">
                                               <!-- <li class="imageuploaded small-padding ">
                                                   <img src="" alt="repair image" class="img-mini">
                                                   <input  data-uploadnum="1" type="file" name="picture1" accept="image/*" onchange="previewImage(event)"  >
                                                   <span class="button--mobile rounded clickable">remove item</span>
                                               </li> -->
                                           
                                            </ol>
                                            <div class="btn " data-action="add-image">
                                                add another image
                                            </div>
                                       
                                       </fieldset>
                                       <fieldset class="">
                                           <legend class="" >Instructions</legend>
                                           <textarea placeholder="instructions or description here" 
                                            name="instructions1" id="instructions1" 
                                            class="instructions center-block large-input white" 
                                            value=""></textarea>
                                       </fieldset>
                                    
                                   </section>
                                  <section>
                                    <div class="btn add-proc" data-action="add-procedure">
                                        add another step
                                    </div>
                                  </section> 
                           </li>
                       </ol>
                   </section>
                </button>
                <button id="submit" class="btn" type="submit">

                    <!-- <a id="submit" href="#status">Submit Repair</a>-->
                   submit
                </button>

            </form>
           

           
        </section>

        <footer>			
			
		</footer>
        <script type="text/javascript" src="./js/repairformclient.js"></script>
        <%- include("./partials/scripts"); -%>
        
</body>
</html>
