<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repair Form</title>
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/repairformclient.css">
</head>
<body>
    
	
		<section>

            <!-- on change of form state mostly from image upload preview the image -->
            <form id="repair-form" action="/" method="post" encType="multipart/form-data" >

                <!-- title -->
                <label for="rep-title" class="">Enter Title Here
                    <input id="rep-title" type="text" placeholder="Title" value="title"> 
                </label>
                <label for="search-tags">
                    keywords seperated by , here
                    <input id="search-tags" type="text" name="searchtags"  placeholder="Search Tags" value="searchtags">
                </label>
                <label for="board-type">
                    Board Type
                    <input id="board-type" type="text" name="boardtype" placeholder="4473 KA ..." value="boardtype KA">
                </label>

                <!-- pick model of engine -->
                
                    
                    <fieldset class="engine-models">
                        <legend>Choose Engine</legend>
                        <label class="clickable model caterpillar"  for="cat">Caterpillar
                            <input  id="cat" name="model" value="cat" type="radio">
                        </label>
                   
                        <label class="clickable model " for="detroit">Detroit
                            <input id="detroit" name="model" value="detroit" type="radio">
                        </label>
                    
                        <label class="clickable model" for="cummins">Cummins
                            <input id="cummins" name="model" value="cummins"  type="radio">
                        </label>

                        <label class="clickable model" for="other">Other
                            <input id="other" name="model"  value="other" checked type="radio">
                        </label>
                    </fieldset>
                     
                    
               
               
                <ol id="instructions" data-currentProcId="1">
                    
                    <!-- repair instructions -->
                    <li class="procedure" data-procedureId="1">
                       
                            <section>
                                <h3>Repair Procedure</h3>
                    
                                
                                <!-- images uploaded -->
                                <fieldset>
                                    <legend>Images
                                        <!-- add another image button -->
                                        <div class="add-img button clickable " data-action="add-image">add another image</div>
                                    </legend>

                                    <ol class="uploads" data-totalfiles="0" data-uploadId="0">
                                        <!-- <li class="imageuploaded">
                                            <img src="" alt="repair image" class="img-mini">
                                            <input  data-uploadnum="1" type="file" name="picture1" accept="image/*" onchange="previewImage(event)"  >
                                            <span class="button clickable">remove item</span>
                                        </li> -->
                                    
                                    </ol>
                                
                                </fieldset>
                                
                                <textarea name="instructions1" id="instructions1" class="instructions" cols="10" rows="10" value="test dfafamongo"></textarea>
                                
                                
                                
                                 
                                
                            </section>
                            <!-- text description area -->
                    </li>

                    

                </ol>
                
                
                <!-- submit the repair form to server -->
                <button class="clickable" type="submit">Submit Repair</button>

            </form>
           
        </section>


        <section id="formdata">

        </section>

        <footer>			
			<nav>
				<section id="menu" class="hidden-menu">
					<details >
						<summary> MENU</summary> 
					<a class="button clickable" href="/">
						<span>Search</span>
					</a>
					<a class="button clickable" href="/ecm-logs">
						<span> ECM LOG <br> +</span>
					</a>
					<!-- <a class="button clickable" href="#">
						<span> Repair <br> Search</span>
					</a> -->
				</details>
				
				</section>
			</nav>
		</footer>
        <script type="text/javascript" src="./js/repairformclient.js"></script>
</body>
</html>