<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repair Form</title>
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/repairformclient.css">
</head>
<body>
    
	
		<section>

            <!-- on change of form state mostly from image upload preview the image -->
            <form id="repair-form" action="/" method="post" encType="multipart/form-data" >

                <!-- title -->
                <label for="rep-title" class="">Enter Title Here
                    <input id="rep-title" type="text" placeholder="Title"> 
                </label>

                <!-- pick model of engine -->
                
                    
                    <fieldset>
                        <legend>Choose Engine</legend>
                        <label class="clickable model caterpillar"  for="cat">Caterpillar
                            <input  id="cat" name="model" valu type="radio">
                        </label>
                   
                        <label class="clickable model " for="detroit">Detroit
                            <input id="detroit" name="model" type="radio">
                        </label>
                    
                        <label class="clickable model" for="cummins">Cummins
                            <input id="cummins" name="model"  type="radio">
                        </label>

                        <label class="clickable model" for="other">Other
                            <input id="other" name="model"  type="radio">
                        </label>
                    </fieldset>
                     
                    
               
               
                <ol>
                    <!-- repair instructions -->
                    <li>
                        <section class="">
                            
                            <!-- picture preview -->
                            <section  class="rep-img image-preview">
                                <h3>Uploaded images</h3>
                                <img src="" alt="repair image" class="img-mini">
                            </section>
        
                            
                            <section>
                                <h3>Repair Procedures</h3>
                                <ol id="procedure">
                                    <li data-step="1" class="repair-step">
                                        <section>
                                            <h4>images</h4>
                                            <input  data-step="1" type="file" name="picture1" accept="image/*" onchange="previewImage(event)"  >
                                        </section>
                                        
                                        <button class="add-img" data-action="add-image">add another image</button>
                                        <textarea name="" id="" cols="30" rows="10"></textarea>
                                    </li>
                                </ol>
                                
                                
                            </section>
                            <!-- text description area -->
                       
                           
                        </section>
                       
                        


                    </li>

                </ol>
                
                
                <!-- submit the repair form to server -->
                <button class="clickable" type="submit">send it</button>

            </form>
           
        </section>


        <section id="formdata">

        </section>

        <footer>			
			<nav>
				<section id="menu" class="hidden-menu">
					<details >
						<summary> MENU</summary> 
					<a class="button clickable" href="/">
						<span>Search</span>
					</a>
					<a class="button clickable" href="/ecm-logs">
						<span> ECM LOG <br> +</span>
					</a>
					<!-- <a class="button clickable" href="#">
						<span> Repair <br> Search</span>
					</a> -->
				</details>
				
				</section>
			</nav>
		</footer>
        <script type="text/javascript" src="./js/repairformclient.js"></script>
</body>
</html>