<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("./partials/head"); -%>

</head>
<body>
    <header>
        <h1 class="title">Repair Form</h1>
        <nav>
           
            <%- include("./partials/reg-menu"); -%>
            <%- include("./partials/mobile-menu"); -%>
       
     </nav>
    </header>
  
    
	
    
		<main>
           
            <!-- loading screen -->
            <section class="status-icons hidden  ">
                <div class="loading"></div>
                <div id="status" class="loading-text">Loading</div>
            </section>
       

            <!-- on change of form state mostly from image upload preview the image -->
            <form class="repair-form" action="#" encType="multipart/form-data" >
                <section class="center--column">
                        <!-- title -->
                    <label for="rep-title" class="form-input">
                        <h2>Title</h2>
                        <input id="rep-title" type="text" placeholder=" ex: no 100v"  value="" required> 
                    </label>
                    <label for="search-tags" class="form-input">
                         <h2>Search Tags</h2>
                        <input id="search-tags" type="text" name="searchtags"  placeholder="Search Tags" value="" required>
                    </label>
                    <label for="board-type" class="form-input">
                        <h2>Board Type</h2>
                        <input id="board-type" type="text" name="boardtype" placeholder="4473 KA ..." value="" required>
                    </label>
                </section>
               

                <!-- pick model of engine -->
                    
                    <fieldset class="engine-models">
                        <legend>Choose Engine</legend>

                        <label class="clickable model rounded button button--mobile"  for="cat">Caterpillar
                            <input  id="cat" name="model" value="cat" type="radio">
                        </label>
                   
                        <label class="clickable model rounded button button--mobile " for="detroit">Detroit
                            <input id="detroit" name="model" value="detroit" type="radio">
                        </label>
                    
                        <label class="clickable model rounded button button--mobile" for="cummins">Cummins
                            <input id="cummins" name="model" value="cummins"  type="radio">
                        </label>

                        <label class="clickable model rounded button button--mobile" for="other">Other
                            <input id="other" name="model"  value="other" checked type="radio">
                        </label>
                    </fieldset>
                     
                    
                   
                <ol id="instructions" data-currentProcId="1">
                 
                    
                    <!-- repair instructions -->
                    <li class="procedure small-padding" data-procedureId="1">
                       
                            <section class="procedure--details small-padding">
                                <h3>Repair Procedure</h3>
                    
                                
                                <!-- images uploaded -->
                                <fieldset class=" procedure--images-list ">
                                    <legend>Images
                                        <!-- add another image button -->
                                        
                                    </legend>

                                    <ol class="uploads" data-totalfiles="0" data-uploadId="0">
                                        <!-- <li class="imageuploaded small-padding ">
                                            <img src="" alt="repair image" class="img-mini">
                                            <input  data-uploadnum="1" type="file" name="picture1" accept="image/*" onchange="previewImage(event)"  >
                                            <span class="button--mobile rounded clickable">remove item</span>
                                        </li> -->
                                    
                                    </ol>
                                    <div class="add-img button--mobile rounded center-self clickable " data-action="add-image">add another image</div>
                                
                                </fieldset>
                                
                                <textarea name="instructions1" id="instructions1" class="instructions" cols="5" rows="5" value="test dfafamongo"></textarea>
                                
                                
                                
                                 
                                
                            </section>
                           <section>
                                <div class="add-proc clickable button--mobile center-self  rounded" data-action="add-procedure">add another step after this one</div>
                           </section> 
                    </li>

                    

                </ol>
                
                
                <!-- submit the repair form to server -->
                <button class="clickable button--medium rounded" type="submit">
                   <!-- <a id="submit" href="#status">Submit Repair</a>  -->
                   submit
                </button>

            </form>
           
        </main>


        <section id="formdata">

        </section>

        <footer>			
			
		</footer>

        <%- include("./partials/scripts"); -%>
        
</body>
</html>