<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repair Form</title>
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/repairformclient.css">
</head>
<body>
    
		<!-- FILE UPLOAD TEST -->
		<section>

            <!-- on change of form state mostly from image upload preview the image -->
            <form id="repair-form" action="/" method="post" encType="multipart/form-data" >
                <label for="rep-title" class="rep-sect">Enter Title Here
                    <input id="rep-title" type="text" placeholder="Title"> 
                </label>

                <!-- pick model of engine -->
                
                <section id="rep-model ">
                    <h2>What engine is this for?</h2>
                   
                        <label class="clickable model caterpillar"  for="cat">Caterpillar
                            <input  id="cat" name="model" valu type="radio">
                        </label>
                   
                        <label class="clickable model " for="detroit">Detroit
                            <input id="detroit" name="model" type="radio">
                        </label>
                    
                        <label class="clickable model" for="cummins">Cummins
                            <input id="cummins" name="model"  type="radio">
                        </label>

                        <label class="clickable model" for="other">Other
                            <input id="other" name="model"  type="radio">
                        </label>
                    
                   
                </section>
               
                <!-- attach picture and text -->

                <ol>
                    <li>
                        <h3>Repair Step</h3>
                        <!-- preview uploaded image -->
                       
                        <section class="rep-sect ">
                            <section  class="rep-img image-preview">
                                <!-- picture preview -->
                                <img src="" alt="repair image" class="img-mini">
                            
                            </section>
        
                            <section>
                                <!-- upload picture -->
                                <input id="img1"  type="file" name="picture1" accept="image/*" onchange="previewImage(event)"  >
                            
                            </section>
                            <!-- text description area -->
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                           
                        </section>
                       
                        


                    </li>

                </ol>
                
                
                <!-- submit the repair form to server -->
                <button class="clickable" type="submit">send it</button>

            </form>
           
        </section>


        <section id="formdata">

        </section>
        <script type="text/javascript" src="./js/repairformclient.js"></script>
</body>
</html>