<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repair Form</title>
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    
		<!-- FILE UPLOAD TEST -->
		<section>
            <form id="repair-form" action="/" method="post" encType="multipart/form-data" onchange="previewImage(event)" >
                <label for="rep-title" class="rep-sect">Enter Title Here
                    <input id="rep-title" type="text" placeholder="Title"> 
                </label>

                <!-- pick model of engine -->
                
                <section id="rep-model">
                    <div class="clickable model caterpillar" >
                        <label  for="cat">Caterpillar</label>
                        <input  id="cat" name="model" valu type="radio">
                    </div>
                   
                    <div class="clickable">
                        <label for="detroit">Detroit</label>
                        <input id="detroit" name="model" type="radio">
                    </div>
                    
                    <div class="clickable">
                        <label for="cummins">Cummins</label>
                        <input id="cummins" name="model"  type="radio">
                    </div>
                   
                </section>
               
                <!-- attach picture and text -->
                <section id="image-preview">
                   
                </section>
                <section class="rep-sect">
                    <section>
                        <!-- picture preview -->
                        <img src="" alt="">
                    </section>

                    <section>
                        <!-- upload picture -->
                        <input id="img1" class="rep-img" type="file" name="picture1" accept="image/*" >
					
                    </section>
                   
                </section>
               
                <textarea name="" id="" cols="30" rows="10"></textarea>
                
                <button type="submit">send it</button>

            </form>
           
        </section>


        <section id="formdata">

        </section>
        <script type="text/javascript" src="./js/repairformclient.js"></script>
</body>
</html>