<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("./partials/head"); -%>

</head>
<body class=" card blue-grey darken-4">
    <header>
        <nav>
           
            <%- include("./partials/reg-menu"); -%>
            <%- include("./partials/mobile-menu"); -%>
       
     </nav>
    </header>
  
    
	
    
		<section>
           
            <!-- loading screen -->
            <section class="status-icons">
                <!-- <div class="loading"></div> -->
                <div id="" class="loading-text">Loading</div>
            </section>
       

            <!-- on change of form state mostly from image upload preview the image -->
            <form class="repair-form" action="#" encType="multipart/form-data" >
                <section class=" card blue-grey darken-1 center--column">
                        <!-- title -->
                    <div class="input-field">
                        <label for="title">Tittle</label>
                        <input type="text" id="title" name="title">
                    </div>

                    <div class="input-field">
                        <label for="search-tags" class="">Search Tags</label>
                        <input id="search-tags" type="text" name="search-tags"   value="" required>

                    </div>
                    
                    <div class="input-field">
                        <label for="board-type" class="form-input">Board Type</label>
                        <input id="board-type" type="text" name="boardtype"  value="" required>
                    </div>
                </section>
               

                <!-- pick model of engine -->
                    <section class="card blue-grey darken-1">

                        <fieldset class="engine-models">
                            <legend>Choose Engine</legend>
                            <span>
                                <label for="cat">
                                  <!-- <input type="checkbox" /> -->
                                  <input class="model" id="cat" name="model" value="cat" type="radio">
                                  <span>Caterpillar</span>
                                </label>
                            </span>
                            <span>
                                <label for="detroit">
                                    <input class="model" id="detroit" name="model" value="detroit" type="radio">
                                    <span>Detroit</span>
                                </label>
                              </span>

                              <span>
                                <label for="cummins">
                                    <input class="model" id="cummins" name="model" value="cummins"  type="radio">
                                    <span>Cummins</span>
                                </label>
                              </span>

                              <span>
                                <label for="other">
                                    <input class="model" id="other" checked name="model" value="other" type="radio">
                                    <span>Other</span>
                                </label>
                              </span>
                            
                            
                            <!-- <label class="clickable model rounded button button--mobile"  for="cat">Caterpillar
                            </label>
                                <input  id="cat" name="model" value="cat" type="checkbox">
                       
                            <label class="clickable model rounded button button--mobile " for="detroit">Detroit
                            </label>
                                <input id="detroit" name="model" value="detroit" type="radio">
                        
                            <label class="clickable model rounded button button--mobile" for="cummins">Cummins
                            </label>
                                <input id="cummins" name="model" value="cummins"  type="radio">
    
                            <label class="clickable model rounded button button--mobile" for="other">Other
                            </label>
                                <input id="other" name="model"  value="other" checked type="radio"> -->
                        </fieldset>
                    </section>
                     
                    
                   <section class="card blue-grey darken-1" >

                       <ol id="instructions" data-currentProcId="1">
                        
                           
                           <!-- repair instructions -->
                           <li class=" procedure small-padding" data-procedureId="1">
                              
                                   <section class=" card grey procedure--details small-padding">
                                       <h3>Repair Procedure</h3>
                           
                                       
                                       <!-- images uploaded -->
                                       <fieldset class=" procedure--images-list ">
                                           <legend>Images
                                               <!-- add another image button -->
                                               
                                           </legend>
       
                                            <ol class="uploads" data-totalfiles="0" data-uploadId="0">
                                               <!-- <li class="imageuploaded small-padding ">
                                                   <img src="" alt="repair image" class="img-mini">
                                                   <input  data-uploadnum="1" type="file" name="picture1" accept="image/*" onchange="previewImage(event)"  >
                                                   <span class="button--mobile rounded clickable">remove item</span>
                                               </li> -->
                                           
                                            </ol>
                                            <div class="btn blue" data-action="add-image">
                                                add another image
                                            </div>
                                       
                                       </fieldset>
                                       <fieldset class="">

                                           <legend class="" >Instructions</legend>
                                           <textarea placeholder="instructions or description here" 
                                            name="instructions1" id="instructions1" 
                                            class="instructions center-block large-input white" 
                                            cols="10" rows="10" value=""></textarea>
                                       </fieldset>
                                    
                                   </section>
                                  <section>
                                    <div class="btn-large add-proc" data-action="add-procedure">
                                        add another step
                                    </div>
                                  </section> 
                           </li>
       
                           
       
                       </ol>
                   </section>
                
                
                <!-- submit the repair form to server -->
                <!-- <button class="clickable button--medium rounded" type="submit">
                    submit    
                </button> -->
                <button id="submit" class="waves-effect waves-light btn-large" type="submit">

                    <!-- <a id="submit" href="#status">Submit Repair</a>  -->
                   submit
                </button>

            </form>
           

           
        </section>

        <footer>			
			
		</footer>
        <script type="text/javascript" src="./js/repairformclient.js"></script>
        <%- include("./partials/scripts"); -%>
        
</body>
</html>
