<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Circuit Fix</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    	<link rel="stylesheet" href="/stylesheets/normalize.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		
		
		<script src="https://kit.fontawesome.com/2d20c3d5a8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/home/assets/css/noscript.css" /></noscript>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    	<link rel="stylesheet" href="/stylesheets/style.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	</head>

	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/repair">Latest Repairs</a></li>
											<li><a href="">Create Repair</a></li>
											<li><a href="">Search</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

					<!-- modify below -->
				<section class="">
					<section class="small-padding">  
						<section class="info "> 
							<section class="wrapper ">
								<!-- title -->
								<div class="title">
									<h1 class="">DDEC 4 28D03 conpatible with LM2901</h1> 
								</div>
								<h3 class="chip ">Repair ID:63335e76d6fe6ec6a23c729b</h3>  
								<h3 class="chip ">Repair Documented by: public</h3>  
								<h3 class="chip">Board Type: P23519308</h3> 
								<h3 class="chip">Engine Make: detroit</h3>
							</section>
						</section> 
							
						<ol class="procedure-list" data-currentprocid="1">   
							
							
			
								
								<li class=" card blue-grey  procedure-item small-padding">
									<section>
										<!-- images list -->
										<ol class="image-list horz-flex center" data-totalfiles="0" data-uploadid="0">
											
												<li class=" card   image-item blue-grey ">
													
													<a class="image-link  " href="http://res.cloudinary.com/da6jwh1id/image/upload/v1664310892/cata/sjb0jvxeh9h8fojn8hb7.jpg">
			
														
															<img class=" rounded red image-preview" src=" http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_400/v1664310892/cata/sjb0jvxeh9h8fojn8hb7.jpg" alt="repair image">
														   
															
													   
														</a>
														<span>Click to see full image</span>
													</li>
													
												<li class=" card   image-item blue-grey ">
													
													<a class="image-link  " href="http://res.cloudinary.com/da6jwh1id/image/upload/v1664310898/cata/ilfq33ggukebiqeyx2qp.jpg">
														<img class=" rounded red image-preview" src=" http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_400/v1664310898/cata/ilfq33ggukebiqeyx2qp.jpg" alt="repair image">
													</a>
														<span class="chip rounded">Click to see full image</span>
													</li>
													
												<li class=" card   image-item blue-grey ">
													
													<a class="image-link  " href="http://res.cloudinary.com/da6jwh1id/image/upload/v1664310901/cata/sr2x0tkellxjgfqbc0ta.jpg">
			
														
															<img class=" rounded red image-preview" src=" http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_400/v1664310901/cata/sr2x0tkellxjgfqbc0ta.jpg" alt="repair image">
														   
															
													   
														</a>
														<span>Click to see full image</span>
													</li>
													
												</ol>
									</section>
											<!-- description -->
									<section class="card   small-padding">
										<p class="center-text instructions">
											Lm2901d found in place of custom partnumber 28D03 
										</p> 
									</section> 
								</li>
							
			
								
								<li class=" card blue-grey  procedure-item small-padding">
									<section>
										<!-- images list -->
										<ol class="image-list horz-flex center" data-totalfiles="0" data-uploadid="0">
											
												<li class=" card   image-item blue-grey ">
													
													<a class="image-link  " href="http://res.cloudinary.com/da6jwh1id/image/upload/v1664310896/cata/libefkzjm2h3ctqensfu.jpg">
			
														
															<img class=" rounded red image-preview" src=" http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_400/v1664310896/cata/libefkzjm2h3ctqensfu.jpg" alt="repair image">
														   
															
													   
														</a>
														<span>Click to see full image</span>
													</li>
													
												</ol>
									</section>
											<!-- description -->
									<section class="card   small-padding">
										<p class="center-text instructions">
											Location of other LM2901D
										</p> 
									</section> 
								</li>
							
			
			
			
							
			
						</ol>
							
							
							<!-- submit the repair form to server -->
							<!-- <button class="clickable" type="submit">Submit Repair</button> -->
			
						<!-- </form> -->
					   
					</section>
				</section>

				<!-- latest test -->
				<section>
					<main class="">
						<!-- results -->
					<section class="results ">
			
						<ul class="entry-list">
			
				
			<!-- large card -->
					<li class="entry small-padding">
			
						<a class="" href="/repair/63335e76d6fe6ec6a23c729b">
			
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										
											<img loading="lazy" src="http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_300/v1664310892/cata/sjb0jvxeh9h8fojn8hb7.jpg">
										   
										
										<span class=" card-title teal">DDEC 4 28D03 conpatible with LM2901</span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
											Lm2901d found in place of custom partnumber 28D03 
										</p>
									</div>
									<div class="card-action">
										<!-- <a href="#">This is a link</a> -->
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				
			<!-- large card -->
					<li class="entry small-padding">
			
						<a class="" href="/repair/633311b208586dd10f21c804">
			
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										
											<img loading="lazy" src="http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_300/v1664291249/cata/u6djzb7ffhzzcqjd0mwa.jpg">
										   
										
										<span class=" card-title teal">test</span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
												
							 test                          
										</p>
									</div>
									<div class="card-action">
										<!-- <a href="#">This is a link</a> -->
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				
			<!-- large card -->
					<li class="entry small-padding">
			
						<a class="" href="/repair/63320dc6498d10cc21cfd529">
			
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										
											<img loading="lazy" src="http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_300/v1664224708/cata/rim46tqbyla6bjhmr32f.jpg">
										   
										
										<span class=" card-title teal">No 100v comm ok</span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
											Near injector chip on capacitor side, back of board there 3 resistors 000, 5112, and 1002 
			
			000 resistor should read less than 1 ohm
			
			1002 and 5112 are connected in parallel and should read around 15k ohm
			
			If they dont replace resistors and verify resistance is around 15k ohm 
			
			The 1002 resistor showed a crack when removing        
										</p>
									</div>
									<div class="card-action">
										<!-- <a href="#">This is a link</a> -->
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				
			<!-- large card -->
					<li class="entry small-padding">
			
						<a class="" href="/repair/632cc90a30c30ca2d0fd711a">
			
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										
											<img loading="lazy" src="http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_300/v1663879433/cata/qu8x4o7j5k74ehhj8xlb.jpg">
										   
										
										<span class=" card-title teal">No engine speed reading </span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
											Pins 48 and 49 are primary sensor
			
			Pins 58 and 59 are secondary sensor
			
			All pins should read 19k ohm resistance compared to ground 
										</p>
									</div>
									<div class="card-action">
										<!-- <a href="#">This is a link</a> -->
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				
			<!-- large card -->
					<li class="entry small-padding">
			
						<a class="" href="/repair/632b5b06f133a732c4330467">
			
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										
											<img loading="lazy" src="http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_300/v1663785730/cata/re6bwbkvcnmmhawxmykd.jpg">
										   
										
										<span class=" card-title teal">Coolant temp sensor voltage low</span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
											Pin 32 on plug J2 (injector plug) is for coolant temp sensor signal
			
			Pin 32 connects directly to blue 4990 resistor. Resistor should be around 500 ohms
										</p>
									</div>
									<div class="card-action">
										<!-- <a href="#">This is a link</a> -->
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				
			<!-- large card -->
					<li class="entry small-padding">
			
						<a class="" href="/repair/6329ed69863016d0cfe09e5d">
			
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										
											<img loading="lazy" src="http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_300/v1663692136/cata/gokkglwvlnlehocayjex.png">
										   
										
										<span class=" card-title teal">test</span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
												
													   
										</p>
									</div>
									<div class="card-action">
										<!-- <a href="#">This is a link</a> -->
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				
			<!-- large card -->
					<li class="entry small-padding">
			
						<a class="" href="/repair/6328d31f1b6c5c91f1632ba5">
			
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										
											<img loading="lazy" src="http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_300/v1663619868/cata/qhuof62lqklq8pxaxt2r.jpg">
										   
										
										<span class=" card-title teal">7521 readings</span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
											Readings of a functioning on tester 7521
										</p>
									</div>
									<div class="card-action">
										<!-- <a href="#">This is a link</a> -->
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				
			<!-- large card -->
					<li class="entry small-padding">
			
						<a class="" href="/repair/6328d1901b6c5c91f1632b8a">
			
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										
											<img loading="lazy" src="http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_300/v1663619460/cata/r1qhxeivyl5lqga2f2ds.jpg">
										   
										
										<span class=" card-title teal">Intake valve actuator (IVA) on all the time</span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
											IVA pins on plug J2 (injector plug)
										</p>
									</div>
									<div class="card-action">
										<!-- <a href="#">This is a link</a> -->
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				
			</ul>		</section>
			
					</main>
				</section>
					

				<!-- Footer -->
					<footer id="footer">
						<!-- <ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul> -->
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/home/assets/js/jquery.min.js"></script>
			<script src="/home/assets/js/jquery.scrollex.min.js"></script>
			<script src="/home/assets/js/jquery.scrolly.min.js"></script>
			<script src="/home/assets/js/browser.min.js"></script>
			<script src="/home/assets/js/breakpoints.min.js"></script>
			<script src="/home/assets/js/util.js"></script>
			<script src="/home/assets/js/main.js"></script>

	</body>
</html>