:root{
    --nav-bg:gray;
    --fix-bg-cummins: rgb(209, 70, 70);
    --fix-bg-detroit: rgb(68, 68, 219);
    --fix-bg-cat:rgb(201, 201, 77);
    --search-bg:white;
    --desc-bg: green;
    --selected:black;
    --ecm-log-bg:gray;
    --input-bg:rgb(242, 242, 242);


   
  }









      /*===================================================== 
      ANIMATIONS
      ======================================================= */

      .animated{
        -webkit-animation-duration: 1s;
        animation-duration: 1s; 
        -webkit-animation-fill-mode: both; 
        animation-fill-mode: both;
      }

        @-webkit-keyframes bounce { 
            /* 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}  */
            /* 40% {-webkit-transform: translateY(-30px);}  */
            60% {-webkit-transform: translateY(-15px);} 
        } 
        @keyframes bounce { 
            /* 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}  */
            /* 40% {transform: translateY(-30px);}  */
            60% {transform: translateY(-15px);} 
         }
         .bounce-anim:hover { 

            -webkit-animation-name: bounce; 
            animation-name: bounce; 
         }