

body{
    width: 100%;
}
nav{
    width: 100%;
   
}

li.fill.search-area{
    width: 100%;
}
li.fill{
    width: 100%;
}
.entry{
  height: 500px;
  overflow: hidden;
  width: 100%;

  margin:50px 0;
  padding: 10px;

}


.hidden{
    width: 0;
    height: 0;
    visibility: hidden;
}

.entry_brief{
    height: 100%;
}
.submenu{
    z-index: 30;
}

figure img{

    width: 100%;
}


.card{
    height: 100%;
    width: 100%;
}


.mobile-menu > li{
    width: 50%;
}


.procedure-item{
    /* height: 300px; */
}

.pic-container{
    width: 100%;
    
}

.large-input{
    width: 80%;
    height: auto;
}

.mobile-menu{
    width: 100%;
}

.image-item{
    min-width: 30%;
}
.image-preview{
    /* border: green 9px solid; */
    width: 100%;
}
/*=============================== 
STYLES
================================ */
.center-block{
    margin: 0 auto;
}

#mobile-nav{
    justify-content:space-evenly;
    flex-direction: row-reverse;
}
.mobile-menu{
    flex-wrap: wrap;
}


.ellipsis{
    white-space:nowrap;
    text-overflow: ellipsis;
    
}


.border{
    border: 3px green solid;
}
.small-padding{
    padding: 3%;
}

.rounded{
    border-radius: 50px;
}

.center-text{
    text-align: center;
}
.flex-center{
    display: flex;
    justify-content: center;
}

.horz-flex{
    display: flex;
    /* flex-basis: 1; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.entry-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.small-padding{
    padding: 3%;
}


/*===================================== 
TYPOGRAPHY
==================================== */

.instructions{
    white-space: pre-line;
    text-align: left;
    text-overflow: clip;
    height: 50%;
    width: 100%;
}
.title{
    font-size: 1.5rem;
}

.entry-brief{
    font-size: 1.2rem;
    overflow: hidden;
    
}
.overflow{
    white-space:no-wrap;
    overflow:hidden;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
}





/*====================================== 
media queries
======================================== */

@media screen and (min-width: 310px) {

    
    .instructions{
        font-size: 2rem;
    }
  
  }

