/******************************************
/* CSS
/*******************************************/

:root{
  --nav-bg:gray;
  --fix-bg-cummins: rgb(209, 70, 70);
  --fix-bg-detroit: rgb(68, 68, 219);
  --fix-bg-cat:rgb(201, 201, 77);
  --search-bg:white;
  --desc-bg: green;
  --selected:black;
  --ecm-log-bg:gray;
  --input-bg:rgb(242, 242, 242);

/* repair form */
  --imageuploaded-bg:orange;
  --image-list-bg:lightgreen;
  --procedure-bg:lightblue;



  /* Search page */
  --searchbar-bg:green;

  /* repair page */
  --repair-bg:#385E72;
  --repair-cat:#e6ea7e;
  --repair-det:#5fc1f6;
  --repair-cummins:#ba675c;
  --repair-img:#B7CFDC;
  --repair-instructions:#D9E4EC;
  --repair-info:#6AABD2;

/* menu */
  --mobile-button-click:green;

/* clickable items */
--clickable-border: black;
--active-border:green;
--hover-border:rgb(211, 192, 16);

}





body{
  background-color: gray;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}


/*============================================ 
TYPOGRAPHY
============================================= */

.menu{
  text-align: center;
  
}

.text-overflow{
  overflow: hidden;
}

.instructions{
  white-space: pre;
}



/******************************************
/* BASE LAYOUT
/*******************************************/
h2{
  margin: 0;
}

h6{
  text-align: center;
}
header {
  height: 20vh;
}

.image-list{
  list-style: none;
  
  padding: 0;
  /* border: green solid 5px; */
  height: 40vh;
}

.image-link{
  text-align: center;
  /* border: red solid 4px; */
  height: 70%;
  
}

.img-mini{
  height: 70%;
  width: 100%;
  /* border: green solid 5px; */
}

.repair-img{
 height:70%;
 width: 40%;

}


.instructions{
  white-space: pre-line;
  background-color: var(--repair-instructions);
  text-indent: 0;
  
}

.small-padding{
  padding: 1% 2%;
}

.procedure-list{
  padding: 0;
}

.procedure-item{
  list-style-position: inside;
}



.menu{
  bottom:10%;
  position:fixed;
  display: flex;
  right: 0;
  min-height: 10%;
  border-radius: 10px;
  justify-content: flex-end;
  align-items: center;
/* width: 100%; */
}





footer{
  /* height: 10vh; */
  position: fixed;
  bottom:0;
  width: 100%;
 
}





.button{
  cursor: pointer;;
  border-radius: 20px;
  border:solid black 1px;
  height: 80px;
  width: 80px;
  background-color: gray;
  /* FLEXBOX */
  display:flex;
  justify-content: center;
  align-items: center;
}

.button--menu{
  width: 40vw;
  margin: 1%;
}

    .button span{
      padding: 5px;
      color:white;
      font-weight: 900;
      vertical-align: middle;
      
      
    }

  .model{
    width: 30%;
    vertical-align: middle;
    display: inline-block;
    height: 80%;
    border-radius: 20px;
    border: 5px solid gray;
    
  }
    .model div {
        /* border: 1px solid black; */
        vertical-align: middle;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      
    }

.clickable{
  border: 5px solid var(--clickable-border);
}
.clickable:active{
 border:5px solid var(--active-border);
}
.clickable:hover{
  cursor: pointer;
  border: 5px solid var(--hover-border);
}




.title{
  text-align: center;
  margin:0;
}

.search-page h2{
  font-size: 1rem;
  overflow: hidden;

}

.entry__description p{
  /* white-space: nowrap; */
  overflow:hidden;
  text-overflow: ellipsis;
  height: 90px;

}


  /*===================================================== 
  SEARCH.HTML layout
  ======================================================= */
  .content{
    height: 80vh;
    width: 100%;
    /* border: 4px solid red; */
    
  }


.search{
  position: fixed;
  width: 100%;
  text-align: center;
  background-color:var(--searchbar-bg);
  }

  .search_input{
    vertical-align: middle;
    width: 70%;
    line-height: 50px;
    /* border: red 1px solid; */
  }

  .search_button{
    width: 20%;
    line-height: 50px;
    vertical-align: middle;
  }

      
  .entry{
    height: 200px;
    width: 100%;
    margin-top:1%;
    overflow: hidden;

  }
 
  .entry__description{
    padding: 0 10px;
    background-color: gray;
    width: 60%;
    height: 100%;
    
  }
      .desc-img{
        width: 40%;
        display: inline-block;
        vertical-align: top;
        height:100%;    
      }
          .desc-img img{
          
            height: 100%;
            width: 100%;
            border-radius: 0px 20px 20px 0;
            
          }

          
        


/* log entry */
.entry{
  display:flex;
  justify-content: space-evenly;
  align-items: center;


  padding: 5px;
  border-radius: 20px;
 
  
}
 
  .cat-fix {
    background-color: var(--fix-bg-cat);
  }
  .cummins-fix{
    background-color: var(--fix-bg-cummins);
  }
  .detroit-fix{
    background-color: var(--fix-bg-detroit);
  }




  .cummins{
      background-color: var(--fix-bg-cummins);
      color: black;
    }
  
    .detroit{
      background-color: var(--fix-bg-detroit);
    }
  
    .caterpillar{
      background-color: var(--fix-bg-cat);
    }
  

    .repair-info{
      margin: 3%;
    }



 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.procedure-item{
 background-color: var(--repair-info);
}


.rounded{
  border-radius: 20px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/* repair page */
.repair-page{
  background-color:var(--repair-bg);
}

.repair-info{
  background-color: var(--repair-info);
  
}

.repair-img{
  background-color: var(--repair-img);
}





.menu{
    
  background-color: orange;


  
}



input{
  display: inline-block;
  background-color: var(--input-bg);
  font-size: 1.1rem;
  text-align: center;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black ;
}
textarea{
  width: 70%;
}
form{
  text-align: center;
  border: black 1px solid;
}


label{
  display: block;
}

/* .tool-area
{
  border:solid 1px black;
  position: fixed;
  left:0;
}
      .tool
      {
        cursor: pointer;
      }
 */







/* loading spinner */
  .loading {
    
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden{
    visibility:hidden;
    width: 0;
    height: 0;
  }




  